.cmp-font-blue {
color: blue !important;
}
.cmp-font-green {
color: #77b300 !important;
}
.cmp-font-red {
color: red !important;
}
.cmp-font-yellow {
color: yellow !important;
}
.cmp-font-orange {
color: orange !important;
}

.cmp-font-purple{
color: #800080 !important;
}


